.container {
  display: flex;
}

.column {
  height: 14rem; /**/
  flex-direction: column;
  align-items: center;
}

.row {
  height: 1rem; /**/
  flex-direction: row;
  justify-content: flex-start;
}


.chartBar {
height: 100%;
border: 2px solid #313131; /**/
  border-radius: 12px;
  background-color: #c3b4f3; /**/
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.chartBarColumn {
  width: 1rem; /**/
  justify-content: flex-end; /**/
}

.chartBarRow {
  width: 10rem; /**/
  align-items: flex-start; /**/
}



.chartBarFill {
  background-color: #7363c9; /**/
  width: 100%;
  height: 100%;
  transition: all 0.3s ease-out;
}


.label {
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  /*margin: 1rem 1rem 1rem 1rem;*/
}
