.error {
  font-size: 0.9rem;
  color: crimson;
  font-weight: 500;
  position: relative;
  bottom: 0.6rem;
}

.success {
  color: rgb(7, 165, 7);
}

.btn {
  width: 7rem;
  height: 2rem;
  margin-top: 1.3rem;
}

label {
  font-weight: bold;
  color: #464646;
  font-size: large;
  display: inline-block;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.input:focus {
  outline: none;
  border-color: #4f005f;
  background: #f6dbfc;
}

.input.invalid {
  border-color: red;
  background: #fbdada;
}
