.login {
  width: 90%;
  max-width: 40rem;
  margin: 2rem auto;
  padding: 2rem;
}

.control {
  margin: 1rem 0;
}

.control label,
.control input {
  display: block;
}

.control label {
  font-weight: bold;
  color: #464646;
  margin-bottom: 0.5rem;
}

.control input {
  font: inherit;
  padding: 0.35rem 0.35rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  width: 100%;
}

.control input:focus {
  outline: none;
  border-color: #4f005f;
  background: #f6dbfc;
}

.control.invalid input {
  border-color: red;
  background: #fbdada;
}

@media (min-width: 768px) {
  .control {
    align-items: center;
    flex-direction: row;
  }
}

.error {
  font-size: 0.9rem;
  color: crimson;
  font-weight: 500;
  position: relative;
  bottom: 0.6rem;
}
