.header {
    width: 100%;
    height: 5rem;
    background-color: #044599;
    padding: 0 10%;
  }
  
  .header nav {
    height: 100%;
  }
  
  .header ul {
    height: 100%;
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
  }
  
  .header li {
    margin: 0 1rem;
    width: 5rem;
  }
  
  .header a {
    color: white;
    text-decoration: none;
  }
  
  .header a:hover,
  .header a:active,
  .header a.active {
    color: #95bcf0;
    padding-bottom: 0.25rem;
    border-bottom: 4px solid #95bcf0;
  }

  .home {
    font-size: 2rem;
    margin-right: 3rem;
  }

  .headerBtn {
    width: 10rem;
    height: 3rem;
    border-radius: 25px;
    font-size: 1rem;
    font-weight: 700;
    background-color: rgb(88, 117, 209);
    color: aliceblue;
  }

  button:hover {
    background-color: #2d77d8;
  }

